/* src/assets/css/acercaDe.css */

.acerca-de-container {
  padding: 2rem 1rem;
  background-color: #f8f9fa;
}

.acerca-de-container h1 {
  color: #010b08;
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.acerca-de-container h2 {
  color: #0d413e;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  border-bottom: 2px solid #01130e;
  padding-bottom: 0.3rem;
}

.descripcion-proyecto,
.contacto,
.tecnologias-usadas ul {
  background: #ffffff;
  border-radius: 12px;
  padding: 1.2rem;
  color: #0d413e;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.descripcion-proyecto {
  margin-bottom: 2rem;
}

.tecnologias-usadas ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin-bottom: 2rem;
  color: #021711;
}

.tecnologias-usadas li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.contacto {
  margin-top: 2.5rem;
}

.equipo-desarrollo {
  margin-top: 2rem;
}
