.formulario-container {
   max-width: 700px!important;
  margin: 0 auto;
  background-color: #c2bfbf;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
   font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.formulario-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.formulario-container .btn {
  min-width: 120px;
}
body {
  background-color:  #c4c4c4;
}